<!DOCTYPE html>
<html>
<head>
  <title>PickwickApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBKXAGbk3fM-unZ22tqViYaXhriHvxnmek&sensor=true" %>

  <meta charset="utf-8">

  <link href="<%= image_path("favicon.ico") %>" rel="shortcut icon">
  <!-- iPad Settings -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

  <!-- iOS ICONS -->
  <link rel="apple-touch-icon" sizes="144x144" href="<%= image_path("apple_icons/icon-144.png") -%>" />
  <link rel="apple-touch-icon" sizes="114x114" href="<%= image_path("apple_icons/icon-114.png") -%>" />
  <link rel="apple-touch-icon" sizes="72x72" href="<%= image_path("apple_icons/icon-72.png") -%>" />
  <!-- iOS ICONS END -->

  <!-- iPhone SPLASHSCREEN-->
  <link href="<%= image_path("apple_icons/apple-touch-startup-image-320x460.jpg") -%>" media="(device-width: 320px) and (orientation: portrait)" rel="apple-touch-startup-image">
  <!-- iPhone SPLASHSCREEN (landscape)-->
  <link href="<%= image_path("apple_icons/apple-touch-startup-image-460x320.jpg") -%>" media="(device-width: 320px) and (orientation: landscape)" rel="apple-touch-startup-image">
  <!-- iPhone (Retina) SPLASHSCREEN-->
  <link href="<%= image_path("apple_icons/apple-touch-startup-image-640x920.jpg") -%>" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
  <!-- iPad (portrait) SPLASHSCREEN-->
  <link href="<%= image_path("apple_icons/apple-touch-startup-image-768x1004.jpg") -%>" media="(device-width: 768px) and (orientation: portrait)" rel="apple-touch-startup-image">
  <!-- iPad (landscape) SPLASHSCREEN-->
  <link href="<%= image_path("apple_icons/apple-touch-startup-image-748x1024.jpg") -%>" media="(device-width: 768px) and (orientation: landscape)" rel="apple-touch-startup-image">
  <!-- iPad (Retina, portrait) SPLASHSCREEN-->
  <link href="<%= image_path("apple_icons/apple-touch-startup-image-1536x2008.jpg") -%>" media="(device-width: 1536px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
  <!-- iPad (Retina, landscape) SPLASHSCREEN-->
  <link href="<%= image_path("apple_icons/apple-touch-startup-image-2048x1496.jpg") -%>" media="(device-width: 1536px)  and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">

</head>
<body>

<%= yield %>

</body>
</html>
